Question1
Write a function that takes a list and a number as arguments. Add the number to the end of the list, then remove the first element of the list. The function should then return the updated list.
Examples
next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]

next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]

next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]

next_in_line([], 6) ➞ "No list has been selected"

In [8]:
def next_in_line(list_el,num):
    if len(list_el)>0:
        list_el.append(num)
        list_el.pop(0)
        return list_el
    else:
        return "No element selected"

In [9]:
next_in_line([5, 6, 7, 8, 9], 1)

[6, 7, 8, 9, 1]

In [10]:
next_in_line([7, 6, 3, 23, 17], 10)

[6, 3, 23, 17, 10]

In [11]:
next_in_line([1, 10, 20, 42 ], 6)

[10, 20, 42, 6]

In [12]:
next_in_line([], 6)

'No element selected'

Question2
Create the function that takes a list of dictionaries and returns the sum of people's budgets.
Examples
get_budgets([
  { "name": "John", "age": 21, "budget": 23000 },
  { "name": "Steve",  "age": 32, "budget": 40000 },
  { "name": "Martin",  "age": 16, "budget": 2700 }
]) ➞ 65700

get_budgets([
  { "name": "John",  "age": 21, "budget": 29000 },
  { "name": "Steve",  "age": 32, "budget": 32000 },
  { "name": "Martin",  "age": 16, "budget": 1600 }
]) ➞ 62600

In [13]:
def get_budgets(list_el):
    sum=0
    for i in list_el:
        sum+=i['budget']
    return sum

In [14]:
get_budgets([
  { "name": "John", "age": 21, "budget": 23000 },
  { "name": "Steve",  "age": 32, "budget": 40000 },
  { "name": "Martin",  "age": 16, "budget": 2700 }
])

65700

In [15]:
get_budgets([
  { "name": "John",  "age": 21, "budget": 29000 },
  { "name": "Steve",  "age": 32, "budget": 32000 },
  { "name": "Martin",  "age": 16, "budget": 1600 }
])

62600

Question4
Suppose that you invest $10,000 for 10 years at an interest rate of 6% compounded monthly. What will be the value of your investment at the end of the 10 year period?
Create a function that accepts the principal p, the term in years t, the interest rate r, and the number of compounding periods per year n. The function returns the value at the end of term rounded to the nearest cent.
For the example above:
compound_interest(10000, 10, 0.06, 12) ➞ 18193.97
Note that the interest rate is given as a decimal and n=12 because with monthly compounding there are 12 periods per year. Compounding can also be done annually, quarterly, weekly, or daily.
Examples
compound_interest(100, 1, 0.05, 1) ➞ 105.0

compound_interest(3500, 15, 0.1, 4) ➞ 15399.26

compound_interest(100000, 20, 0.15, 365) ➞ 2007316.26

In [23]:
def compound_interest(principal,time,inters_rate,no_of_annual_compu):
    import math
    x = 1+(inters_rate)/(no_of_annual_compu)
    y = math.pow(x,time*no_of_annual_compu)
    value_today= round(principal*y,2)
    return value_today

In [24]:
compound_interest(10000, 10, 0.06, 12)

18193.97

In [25]:
compound_interest(3500, 15, 0.1, 4)

15399.26

In [26]:
compound_interest(100000, 20, 0.15, 365)

2007316.26

Question5
Write a function that takes a list of elements and returns only the integers.
Examples
return_only_integer([9, 2, "space", "car", "lion", 16]) ➞ [9, 2, 16]

return_only_integer(["hello", 81, "basketball", 123, "fox"]) ➞ [81, 123]

return_only_integer([10, "121", 56, 20, "car", 3, "lion"]) ➞ [10, 56, 20, 3]

return_only_integer(["String",  True,  3.3,  1]) ➞ [1]

In [27]:
def return_only_integer(list_el):
    new_list=[]
    for i in list_el:
        if type(i) == int:
            new_list.append(i)
    return new_list

In [28]:
return_only_integer(["String",  True,  3.3,  1])

[1]

In [29]:
return_only_integer(["hello", 81, "basketball", 123, "fox"])

[81, 123]

In [30]:
return_only_integer([9, 2, "space", "car", "lion", 16])

[9, 2, 16]

Question3
Create a function that takes a string and returns a string with its letters in alphabetical order.
Examples
alphabet_soup("hello") ➞ "ehllo"

alphabet_soup("edabit") ➞ "abdeit"

alphabet_soup("hacker") ➞ "acehkr"

alphabet_soup("geek") ➞ "eegk"

alphabet_soup("javascript") ➞ "aacijprstv"

In [43]:
def alphabet_soup(string):
    words=[]
    loc=0
    new_name=''
    for i in string:
        words.append(i)
    for i in range(len(words)-1):
        mini = words[i]
        f=0
        for j in range(i+1,len(words)):
            if words[j]<mini:
                mini = words[j]
                loc = j
                f=1
        if f==1:
            words[loc]=words[i]
            words[i]=mini        
    for i in words:
        new_name+=i 
    return new_name